<template>
  <div>
    <!-- <card :title="$t('home')">{{ $t('you_are_logged_in') }}</card> -->
    <div class="container">
      <div class="card p-4 shadow-sm">
        <div class="text-center">
          <h2 class="page--header d-inline-block">
            {{ $t('about_us') }}
          </h2>
        </div>

        <p class="content-p" data-aos="fade-right">
          The Buddhist Meditation Temple was founded by the Buddhist community of Huber Heights,
          Ohio, in 2004, as a Southeast Asian Theravada Buddhist Temple. The purposes for founding
          this Temple were to establish a teaching and practicing center for Buddhism according to
          the Theravada tradition, and to create a focal point for Thai culture, tradition, and Thai
          language.
        </p>
      </div>

      <div class="content-p" data-aos="fade-up">
        <hr />
      </div>
      <div class="card p-4 shadow-sm" data-aos="fade-up">
        <h4>The Buddhist Meditation Temple was started with the following objectives :</h4>
        <hr />
        <ul class="list-group list-group-flush mb-5">
          <li class="list-group-item">1. To be a center of Buddhists activities.</li>
          <li class="list-group-item">2. To maintain and support Buddhist Teachings.</li>
          <li class="list-group-item">
            3. To introduce Buddhism to all who are interested in Buddhism.
          </li>
          <li class="list-group-item">
            4. To represente Theravada Buddhist organization in the region.
          </li>
          <li class="list-group-item">
            5. To coordinate with interfaith activities to promote wolrd peace.
          </li>
          <li class="list-group-item">6. To be a center of teaching meditation.</li>
          <li class="list-group-item">7. To be a center to practice insight meditation.</li>
          <li class="list-group-item">8. To be a center to study South East Asian Culture.</li>
          <li class="list-group-item">9. To be a center to study and preserve Thai tradition.</li>
        </ul>
      </div>
      <div class="content-p" data-aos="fade-up">
        <hr />
      </div>

      <div class="content-p bg-wat-right2 text-white shadow-sm" data-aos="fade-up">
        <p>
          The Temple is located at 4545 Fishburg Rd., Huber Heights, Ohio 45424. There are
          approximately 7.9 acres. There are two houses, one for the monks' residence, one for
          temple's guests and intensive retreat poeple. One barn (30x60), is used for storage. A
          small building (25x30), is currently used as the monks' meditation room. A wooded area of
          2 acres, is reserved as a place for practicing meditation in the summer.
        </p>
      </div>

      <div class="content-p" data-aos="fade-up">
        <hr />
      </div>

      <div class="card p-4 shadow-sm" data-aos="fade-up">
        <h4>Daily Practice :</h4>
        <hr />
        <p class="content-p">Morning Chanting and Meditation Practice at 6:00 – 7:00 A.M.</p>
        <p class="content-p">Evening Chanting and Meditation Practice at 6:00 – 7:00 P.M.</p>
        <p class="content-p mt-2 mb-2">Thursday and Sunday practice : (Public)</p>
        <p class="content-p mt-2 mb-2">
          Insight or VIPASSANA Meditation Practice at 6:00 – 7:00 P.M. (Thai & English)
        </p>
        <p class="content-p mt-2 mb-2">Friday and Saturday practice : (Public)</p>
        <p class="content-p mt-2 mb-2">
          Insight Meditation Practice from 5:30 p.m. to 6:30 p.m. (short chanting English only)
        </p>
      </div>

      <div class="content-p" data-aos="fade-up">
        <hr />
      </div>

      <div class="content-p bg-wat-right2 text-white shadow-sm" data-aos="fade-up">
        <p>
          Students from any schools who want to observe our activities, please email us at
          watohio@gmail.com or call us ahead at (937)237-0378 because sometimes the monks have to
          perform duties outside the temple and will not be available at the regularly scheduled
          times.
        </p>
      </div>

      <div class="content-p shadow-sm" data-aos="fade-up">
        <hr />
      </div>

      <div class="card p-4 text-center shadow-sm" data-aos="fade-up">
        <p>(Wat Paknam America)</p>
        <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i> | Buddhist Meditation Temple, Ohio
        </p>
        <p>4545 Fishburg Rd., Huber Heights, OH 45424</p>
        <p>
          <i class="fa fa-phone" aria-hidden="true"></i> | Phone : (937) 237-0378, Fax :
          (937)235-0469
        </p>
        <p><i class="fa fa-globe" aria-hidden="true"></i> | http://www.ohiobuddhist.org</p>
        <p><i class="fa fa-envelope" aria-hidden="true"></i> | E-mail: watohio@gmail.com</p>
      </div>

      <div class="content-p mb-5" data-aos="fade-up">
        <hr />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo() {
    return { title: this.$t('about_us') }
  },
}
</script>

<style scoped>
.bg-wat-right2 {
  background-image: url('/img/content_img.jpg');
  background-repeat: no-repeat;
  opacity: 0.8;
  background-color: black;
  background-size: 100%;
}
.bg-wat-right2 p {
  color: #fff;
  padding: 65px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}
</style>