<template>
  <div>
    <!-- <card :title="$t('home')">{{ $t('you_are_logged_in') }}</card> -->
    <div class="container">
      <div class="card p-4 shadow-sm">
        <img src="https://picsum.photos/id/237/1800/800" alt width="100%" />
      </div>
      <hr />

      <div class="card p-4 shadow-sm">
        <div class="text-center">
          <h2 class="page--header d-inline-block">Article 1</h2>
        </div>
        <p class="content-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend ac elit nec
          ornare. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Nullam imperdiet nec quam eget feugiat. Cras vehicula luctus risus at
          tincidunt. Vivamus id diam eget tortor aliquet feugiat ac eget nisl. Suspendisse a justo
          luctus velit dapibus pulvinar. Vivamus id volutpat nisl, a viverra felis. Maecenas pretium
          nec nulla at ultricies.
        </p>
        <p class="content-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend ac elit nec
          ornare. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Nullam imperdiet nec quam eget feugiat. Cras vehicula luctus risus at
          tincidunt. Vivamus id diam eget tortor aliquet feugiat ac eget nisl. Suspendisse a justo
          luctus velit dapibus pulvinar. Vivamus id volutpat nisl, a viverra felis. Maecenas pretium
          nec nulla at ultricies.
        </p>
        <p class="content-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend ac elit nec
          ornare. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Nullam imperdiet nec quam eget feugiat. Cras vehicula luctus risus at
          tincidunt. Vivamus id diam eget tortor aliquet feugiat ac eget nisl. Suspendisse a justo
          luctus velit dapibus pulvinar. Vivamus id volutpat nisl, a viverra felis. Maecenas pretium
          nec nulla at ultricies.
        </p>
      </div>

      <hr />
      <div class="card p-4 text-center shadow-sm" data-aos="fade-up">
        <p>(Wat Paknam America)</p>
        <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i> | Buddhist Meditation Temple, Ohio
        </p>
        <p>4545 Fishburg Rd., Huber Heights, OH 45424</p>
        <p>
          <i class="fa fa-phone" aria-hidden="true"></i> | Phone : (937) 237-0378, Fax :
          (937)235-0469
        </p>
        <p><i class="fa fa-globe" aria-hidden="true"></i> | http://www.ohiobuddhist.org</p>
        <p><i class="fa fa-envelope" aria-hidden="true"></i> | E-mail: watohio@gmail.com</p>
      </div>

      <div class="content-p mb-5" data-aos="fade-up">
        <hr />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo() {
    return { title: this.$t('articles_detail') }
  },
}
</script>

<style>
</style>