<template>
  <div class="container">
    <div class="card p-4 shadow-sm">
      <div class="text-center">
        <h2 class="page--header d-inline-block">
          {{ $t('articles') }}
        </h2>
      </div>
    </div>
    <hr />
    <div class="card p-4 shadow-sm">
      <div class="row">
        <div class="col-md-4 d-flex mt-4" v-for="(item, index) in items" :key="index">
          <ArticleCard :item="item" :showBtn="item.showBtn" :btn="btn" :index="index" />
        </div>
      </div>
    </div>
    <hr />
    <div class="card p-4 text-center shadow-sm" data-aos="fade-up">
      <p>(Wat Paknam America)</p>
      <p><i class="fa fa-map-marker" aria-hidden="true"></i> | Buddhist Meditation Temple, Ohio</p>
      <p>4545 Fishburg Rd., Huber Heights, OH 45424</p>
      <p>
        <i class="fa fa-phone" aria-hidden="true"></i> | Phone : (937) 237-0378, Fax : (937)235-0469
      </p>
      <p><i class="fa fa-globe" aria-hidden="true"></i> | http://www.ohiobuddhist.org</p>
      <p><i class="fa fa-envelope" aria-hidden="true"></i> | E-mail: watohio@gmail.com</p>
    </div>

    <div class="content-p mb-5" data-aos="fade-up">
      <hr />
    </div>
  </div>
</template>

<script>
import ArticleCard from '~/components/ArticleCard'
export default {
  metaInfo() {
    return { title: this.$t('articles') }
  },
  name: 'BasicLayout',
  components: { ArticleCard },
  data: () => ({
    items: [
      {
        title: 'Article 1',
        description: 'lorem 1',
        img_url: 'https://picsum.photos/id/237/800/600',
      },
      {
        title: 'Article 2',
        description: 'lorem 2',
        img_url: 'https://picsum.photos/id/238/800/600',
      },
      {
        title: 'Article 3',
        description: 'lorem 3',
        img_url: 'https://picsum.photos/id/239/800/600',
      },
      {
        title: 'Article 4',
        description: 'lorem 4',
        img_url: 'https://picsum.photos/id/240/800/600',
      },
      {
        title: 'Article 5',
        description: 'lorem 5',
        img_url: 'https://picsum.photos/id/241/800/600',
      },
      {
        title: 'Article 6',
        description: 'lorem 6',
        img_url: 'https://picsum.photos/id/242/800/600',
      },
      {
        title: 'Article 7',
        description: 'lorem 7',
        img_url: 'https://picsum.photos/id/243/800/600',
      },
      {
        title: 'Article 8',
        description: 'lorem 8',
        img_url: 'https://picsum.photos/id/244/800/600',
      },
      {
        title: 'Article 9',
        description: 'lorem 9',
        img_url: 'https://picsum.photos/id/211/800/600',
      },
    ],
    btn: {
      type: 'outline-primary float-right',
      text: 'read more',
    },
  }),
}
</script>

<style >
</style>
