<template>
  <div>
    <!-- <card :title="$t('home')">{{ $t('you_are_logged_in') }}</card> -->
    <div class="container">
      <div class="card p-4 shadow-sm">
        <div class="text-center">
          <h2 class="page--header d-inline-block">
            {{ $t('building_projects') }}
          </h2>
        </div>

        <h4>New Temple Project</h4>
        <p class="content-p">
          A new Thai-style, Buddhist temple will be built in the Ohio, near the city of Dayton.
          Designed to meet the local climate conditions of Ohio, the temple will maintain most of
          the unique Thai characteristics of a temple with a hint of an American influence. The new
          building will have over 9,000 ft2 (836.13 m2) of usable space divided into several rooms.
          The main room is an ordination and meditation hall. The building will have three reception
          rooms for senior monks, a general office, two classrooms for children and adults to learn
          the teaching of Buddha, Thai language and culture, a fully equipped kitchen, and eight
          restrooms for men and women.
        </p>
      </div>
      <hr />
      <div class="card p-4 shadow-sm" data-aos="fade-up">
        <p class="content-p" data-aos="fade-right">
          The architecture of the building is intended to embody the wisdom teachings of Buddha, as
          in Thailand and other Buddhist countries. The temple will unite traditional monastic
          architectural principles with modern environmental building standards. Doors, windows,
          rooftops, rooms and columns have their own symbolic meanings. The buildings themselves
          will enable visitors to step into the sacred teachings of Buddha. The result is a powerful
          creation, blending ancient wisdom and modern knowledge to provide the spiritual and
          material conditions necessary to support the transmission of this precious, sacred
          lineage. The construction will be accomplished in two phases:
        </p>
      </div>
      <hr />
      <div class="card p-4 shadow-sm" data-aos="fade-up">
        <div class="content-p bg-wat-right2">
          <h1>Phase 1 :</h1>
        </div>
        <p class="content-p" data-aos="fade-right">
          This phase addresses the infrastructure to support the construction of the temple building
          in Phase 2. In this phase, the driveway and parking lots will be created. The detention
          pond and drainage ditch will be constructed to handle water run-off. The installation of
          water, electric, gas and phone lines will be run to the temple building site. This phase
          was completed by Fall of 2014.
        </p>
      </div>
      <hr />
      <div class="card p-4 shadow-sm" data-aos="fade-up">
        <div class="content-p bg-wat-right2">
          <h1>Phase 2 :</h1>
        </div>
        <p class="content-p" data-aos="fade-right">
          This phase will focus on the construction of the main assembly hall (Ubosatha-Sala) and
          will house the main altar and be primary place of worship where members of the monastic
          community will convene to meditate and participate in teachings, initiations, and special
          ceremonies. The temple building will have additional rooms to serve as the lobby,
          reception rooms, a kitchen, dining hall, classrooms, offices, restrooms, and storage
          space.
        </p>
        <p class="content-p" data-aos="fade-right">
          Upon completion of the temple building, the temple grounds will be landscaped with trees,
          flower and vegetable gardens. The landscaping will make use of native plants and trees
          that can tolerate the Ohio climate and seasons.
        </p>
        <p class="content-p" data-aos="fade-right">Phase 2 is scheduled to begin Spring of 2015.</p>
      </div>
      <hr />
      <div class="card p-4 shadow-sm" data-aos="fade-up">
        <p class="content-p" data-aos="fade-right">
          We are growing and the Buddhist Meditation Temple (Wat Paknam America), the Buddhist
          community serving Western Ohio, invite you to join us in building an ordination hall,
          strengthening and enhancing good deeds and merit and spreading the sacred lineage of
          Buddha. We thank you in advance for your generosity for making a donation for the
          completion of this project. Your donation will insure that the concepts and teachings of
          Buddhism are enduring for future generations.
        </p>
        <p class="content-p" data-aos="fade-right">
          May your benevolent act bring you a long life, happiness, vigor, wisdom and prosperity.
        </p>
        <p class="content-p" data-aos="fade-right">
          Please visit us and consider a donation to Buddhist Meditation Temple (Wat Paknam
          America). Your contribution will be used solely for the construction of the new
          multi-purpose building.
        </p>
      </div>
      <hr />
      <div class="card p-4 shadow-sm text-center donate-box" data-aos="fade-up">
        <hr />
        <h5 class="mt-5">You may make your donation to:</h5>
        <h5>Buddhist Meditation Temple</h5>
        <h5>4545 Fishburg Rd.</h5>
        <h5>Huber Heights, OH 45424 USA</h5>
        <h5>Phone : 1-937-237-0378</h5>
        <h5>Fax : 1-937-235-0469</h5>
        <hr />
        <p class="text-muted">Please make your checks payable to Buddhist Meditation Temple.</p>
      </div>
      <div class="content-p shadow-sm" data-aos="fade-up">
        <hr />
      </div>

      <div class="card p-4 text-center shadow-sm" data-aos="fade-up">
        <p>(Wat Paknam America)</p>
        <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i> | Buddhist Meditation Temple, Ohio
        </p>
        <p>4545 Fishburg Rd., Huber Heights, OH 45424</p>
        <p>
          <i class="fa fa-phone" aria-hidden="true"></i> | Phone : (937) 237-0378, Fax :
          (937)235-0469
        </p>
        <p><i class="fa fa-globe" aria-hidden="true"></i> | http://www.ohiobuddhist.org</p>
        <p><i class="fa fa-envelope" aria-hidden="true"></i> | E-mail: watohio@gmail.com</p>
      </div>

      <div class="content-p mb-5" data-aos="fade-up">
        <hr />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo() {
    return { title: this.$t('building_projects') }
  },
}
</script>

<style scoped>
.donate-box {
  background-color: #31333f;
  padding-bottom: 35px;
  color: #fff;
}
.bg-wat-right2 {
  background-image: url('/img/banner_1.jpg');
  background-repeat: no-repeat;
  opacity: 0.8;
  background-color: black;
  background-size: 100%;
}
.bg-wat-right2 h1 {
  color: #fff;
  padding: 45px;
}
</style>