<template>
  <div>
    <!-- <card :title="$t('home')">{{ $t('you_are_logged_in') }}</card> -->
    <div class="container">
      <div class="card p-4 shadow-sm" data-aos="fade-up">
        <div class="text-center">
          <h2 class="page--header d-inline-block">
            {{ $t('event') }}
          </h2>
        </div>
      </div>
      <hr />
      <div class="card p-4 shadow-sm" data-aos="fade-up">
        <h4>Year 2017 Events</h4>
        <ul class="list-group list-group-flush mb-5">
          <li class="list-group-item">1.New Year’s Day Friday, January 01, 2016</li>
        </ul>
      </div>
      <hr />
      <div class="card p-4 shadow-sm" data-aos="fade-up">
        <h4>Year 2016 Events</h4>
        <ul class="list-group list-group-flush mb-5">
          <li class="list-group-item">1.New Year’s Day Friday, January 01, 2016</li>
          <li class="list-group-item">2.Makha Puja Day Sunday, February 21 , 2016</li>
          <li class="list-group-item">3.Makha Puja Day Sunday, February 21 , 2016</li>
          <li class="list-group-item">4.Songkran Festival Sunday, April 17, 2016</li>
          <li class="list-group-item">5.Visakha Puja Day Sunday, May 22, 2016</li>
          <li class="list-group-item">6.12th Temple Anniversary Sunday, June 12, 2016</li>
          <li class="list-group-item">7.Asalaha Puja Day & Buddhist Lent Sunday, July 17, 2016</li>
          <li class="list-group-item">8.Thai Mother’s Day Sunday, August 14, 2016</li>
          <li class="list-group-item">9.Thai Sart Day Sunday, September 25, 2016</li>
          <li class="list-group-item">10.The End of Buddhist Lent Sunday, October 16, 2016</li>
          <li class="list-group-item">11.Kathina Ceremony Sunday, October 30, 2016</li>
          <li class="list-group-item">12.Monthly Service Sunday, November 13, 2016</li>
          <li class="list-group-item">
            13.King’s Birthday (Thai Father’s Day) Sunday, December 6, 2016
          </li>
          <li class="list-group-item">14.New Year’s Eve Chanting December 31, 2016</li>
        </ul>
      </div>
      <hr />
      <div class="card p-4 text-center shadow-sm" data-aos="fade-up">
        <p>(Wat Paknam America)</p>
        <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i> | Buddhist Meditation Temple, Ohio
        </p>
        <p>4545 Fishburg Rd., Huber Heights, OH 45424</p>
        <p>
          <i class="fa fa-phone" aria-hidden="true"></i> | Phone : (937) 237-0378, Fax :
          (937)235-0469
        </p>
        <p><i class="fa fa-globe" aria-hidden="true"></i> | http://www.ohiobuddhist.org</p>
        <p><i class="fa fa-envelope" aria-hidden="true"></i> | E-mail: watohio@gmail.com</p>
      </div>

      <div class="content-p mb-5" data-aos="fade-up">
        <hr />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo() {
    return { title: this.$t('events') }
  },
}
</script>

<style scoped>
.content-p {
  background-color: #fff;
}
</style>