<template>
  <div>
    <!-- <card :title="$t('home')">{{ $t('you_are_logged_in') }}</card> -->
    <div class="container">
      <div class="card p-4 shadow">
        <div class="text-center">
          <h2 class="page--header d-inline-block">
            {{ $t('gallery') }}
          </h2>
        </div>
      </div>
      <hr />

      <CoolLightBox :items="items" :index="index" @close="index = null"></CoolLightBox>
      <div class="card p-4 shadow">
        <div class="row">
          <img
            v-for="(image, imageIndex) in items"
            :key="imageIndex"
            @click="index = imageIndex"
            :src="image"
            class="w-100 g-img col-md-4 mb-4"
          />
        </div>
      </div>

      <div class="content-p shadow" data-aos="fade-up">
        <hr />
      </div>

      <div class="card p-4 text-center shadow" data-aos="fade-up">
        <p>(Wat Paknam America)</p>
        <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i> | Buddhist Meditation Temple, Ohio
        </p>
        <p>4545 Fishburg Rd., Huber Heights, OH 45424</p>
        <p>
          <i class="fa fa-phone" aria-hidden="true"></i> | Phone : (937) 237-0378, Fax :
          (937)235-0469
        </p>
        <p><i class="fa fa-globe" aria-hidden="true"></i> | http://www.ohiobuddhist.org</p>
        <p><i class="fa fa-envelope" aria-hidden="true"></i> | E-mail: watohio@gmail.com</p>
      </div>

      <div class="content-p mb-5" data-aos="fade-up">
        <hr />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo() {
    return { title: this.$t('gallery') }
  },
  data: function () {
    return {
      items: [
        '/img/gallery_img_1.jpg',
        '/img/gallery_img_2.jpg',
        '/img/gallery_img_3.jpg',
        '/img/gallery_img_4.jpg',
        '/img/gallery_img_5.jpg',
        '/img/gallery_img_6.jpg',
        '/img/gallery_img_7.jpg',
        '/img/gallery_img_8.jpg',
        '/img/gallery_img_9.jpg',
        '/img/gallery_img_10.jpg',
        '/img/gallery_img_11.jpg',
        '/img/gallery_img_12.jpg',
        '/img/gallery_img_13.jpg',
        '/img/gallery_img_14.jpg',
        '/img/gallery_img_15.jpg',
      ],
      index: null,
    }
  },
}
</script>

<style scoped>
.border-gold {
  border: 2px solid #daa520;
}
.g-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.image {
  height: 300px;
  object-fit: cover;
}
div.gallery {
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
</style>
