<template>
  <div>
    <!-- <card :title="$t('home')">{{ $t('you_are_logged_in') }}</card> -->
    <div class="container">
      <div class="card p-4 shadow-sm" data-aos="fade-up">
        <div class="text-center mb-5">
          <h2 class="page--header d-inline-block">Welcome to Buddhist Meditation Temple</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img
              class="img-content"
              src="https://cdn.pixabay.com/photo/2016/11/14/04/14/monks-1822569_960_720.jpg"
            />
          </div>
          <div class="col-md-6">
            <p class="content-p">
              The Buddhist Meditation Temple, Inc. was founded by the Buddhist community of Huber
              Heights, Ohio, in 2004, as a Southeast Asian Theravada Buddhist Temple. The purposes
              for founding this Temple were to establish a teaching and practicing center for
              Buddhism according to the Theravada tradition, and to create a focal point for Thai
              culture, tradition, and Thai language.
            </p>
          </div>
          <div class="col-md-8 mt-5">
            <p class="content-p">
              The Temple is located at 4545 Fishburg Rd., Huber Heights, Ohio, 45424. The Temple
              normally houses three to five Buddhist monks, who have been ordained in Thailand
              according to the Thai Theravada tradition and who have been in the monkhood for at
              least ten to twenty years. They depend on the lay community for the basic necessities
              of life, which include food, clothing, shelter, and medication. In return, they give
              spiritual guidance to the lay community. The Thai Buddhist monks observe 227 precepts
              or moral codes, including the practice of celibacy.
            </p>
            <hr />
          </div>
          <div class="col-md-4 mt-5">
            <img
              class="img-content"
              src="https://cdn.pixabay.com/photo/2017/08/11/13/16/thailad-2630780_960_720.jpg"
            />
          </div>
        </div>

        <p class="mt-4 text-center">
          The Temple, since its beginning, has been successfully serving the Thai and Laotian
          community of the Miami Valley, as well as the general public. There are three fundamental,
          core principles of Buddhism:
        </p>
      </div>

      <div class="content-p" data-aos="fade-up">
        <hr />
      </div>

      <div class="card p-4 shadow-sm" data-aos="fade-up">
        <hr />
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/slide1.jpg" class="d-block w-100" />
            </div>
            <div class="carousel-item">
              <img src="img/slide2.jpeg" class="d-block w-100" />
            </div>
            <div class="carousel-item">
              <img src="img/slide3.jpeg" class="d-block w-100" />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <hr />
      </div>

      <div class="content-p" data-aos="fade-up">
        <hr />
      </div>

      <div class="card p-4 shadow-sm bg-wat-right" data-aos="fade-up">
        <p>1.To avoid doing bad deeds</p>
        <p>2.To do good deeds</p>
        <p>3.To purify one’s mind through Insight Meditation</p>
      </div>

      <div class="content-p" data-aos="fade-up">
        <hr />
      </div>

      <div class="card p-4 shadow-sm bg-wat-right2 text-center" data-aos="fade-up">
        <hr />
        <h1 class="pt-5 pb-5">OHIOBUDDHIST</h1>
        <hr />
      </div>

      <div class="content-p" data-aos="fade-up">
        <hr />
      </div>

      <div class="card p-4 text-center shadow-sm" data-aos="fade-up">
        <h5 class="mb-1">(Wat Paknam America)</h5>
        <hr />
        <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i> | Buddhist Meditation Temple, Ohio
        </p>
        <p>4545 Fishburg Rd., Huber Heights, OH 45424</p>
        <p>
          <i class="fa fa-phone" aria-hidden="true"></i> | Phone : (937) 237-0378, Fax :
          (937)235-0469
        </p>
        <p><i class="fa fa-globe" aria-hidden="true"></i> | http://www.ohiobuddhist.org</p>
        <p><i class="fa fa-envelope" aria-hidden="true"></i> | E-mail: watohio@gmail.com</p>
      </div>

      <div class="content-p mb-5" data-aos="fade-up">
        <hr />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo() {
    return { title: this.$t('home') }
  },
  data() {
    return {
      slide: 0,
      sliding: null,
    }
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true
    },
    onSlideEnd(slide) {
      this.sliding = false
    },
  },
}
</script>

<style>
.img-content {
  width: 100%;
  object-fit: cover;
  height: 200px;
}
.content-p img {
  width: 100%;
}
.content-p h1 {
  color: #fff;
}
.content-p p {
  color: #1b1b1b;
  font-weight: 600;
}
.content-p h3 {
  color: #d8d8d8;
  font-weight: 600;
  font-size: 1.15rem;
}
.contact-p p {
  font-weight: 600 !important;
}
.content-card h2 {
  color: #1d1d1d;
}
.bg-wat-right {
  background-image: url('/img/right.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.bg-wat-right2 {
  background-image: url('/img/banner_1.jpg');
  background-repeat: no-repeat;
  opacity: 0.9;
  background-color: rgba(218, 111, 24, 0.089);
  background-size: 100%;
  color: rgb(221, 125, 35);
}
.slide-ohio {
  width: 100%;
  height: 500px;
  background-color: bisque;
}
.carousel-item img {
  height: 400px;
  object-fit: cover;
}
</style>
