<template>
  <div>
    <!-- <card :title="$t('home')">{{ $t('you_are_logged_in') }}</card> -->
    <div class="container">
      <div class="card p-4 shadow-sm">
        <div class="text-center">
          <h2 class="page--header d-inline-block">
            {{ $t('monks') }}
          </h2>
        </div>

        <h4>About the Abbot</h4>
        <p class="content-p">
          A community of monastic and lay volunteers staffs the Buddhist Meditation Temple. The
          founder and president of the Buddhist Meditation Temple is Venerable Samak Ngamsaeng, a
          Thai who has been a monk since the age of twelve and came to the United States in 1998.
        </p>
      </div>
      <hr />

      <div class="card p-4 shadow-sm" data-aos="fade-up">
        <hr />
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/slide1.jpg" class="d-block w-100" />
            </div>
            <div class="carousel-item">
              <img src="img/slide2.jpeg" class="d-block w-100" />
            </div>
            <div class="carousel-item">
              <img src="img/slide3.jpeg" class="d-block w-100" />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <hr />
      </div>
      <hr />
      <div class="card p-4 shadow-sm" data-aos="fade-up">
        <p class="content-p" data-aos="fade-right">
          Venerable Samak is a young monk, recognized as a meditation instructor who blends
          life-long meditation practice with an in-depth knowledge of Buddhist teachings and their
          practical applications. He has studied meditation at Wat Paknam in Bangkok, Thailand and
          has additionally spent many months practicing meditation at a forest monastery while under
          the guidance of many senior meditation teachers. This combination of background knowledge
          and hands-on experience makes Venerable Samak Ngamsaeng ideally suited for presenting
          these practical Buddhist traditions to the Western world.
        </p>
      </div>

      <hr />
      <div class="card p-4 shadow-sm bg-wat-right2 text-center" data-aos="fade-up">
        <hr />
        <h1 class="pt-5 pb-5">OHIOBUDDHIST</h1>
        <hr />
      </div>
      <hr />

      <div class="card p-4 shadow-sm" data-aos="fade-up">
        <p class="content-p" data-aos="fade-right">
          Venerable Samak was born in 1965 at the small village of Ena, within the province of Sri
          Sa Ket. He completed his primary education at Sri Sa Ket Province, Thailand and, at age
          12, was ordained as a Buddhist novice at Wat Paknam Phasichareon, Bangkok, Thailand.
          Venerable Vorrapunyo Mahathera, who is also well-known as Somdej Pramaha Rajmangakalajarn,
          is his preceptor. He received his basic Buddhist education in Pali at Wat Paknam
          Phasichareon, completing Pali Level 4. In 1986, at age 21, he was given higher ordination
          at Wat Paknam Phasichareon, Bangkok.
        </p>
      </div>
      <hr />
      <div class="card p-4 shadow-sm" data-aos="fade-up">
        <p class="content-p" data-aos="fade-right">
          Venerable Samak completed his higher education at Mahamakut Buddhist University, Bangkok,
          received a Bachelor’s degree in Buddhist Studies, and received his Master of Arts degree
          in Comparative Religions at Mahidol University, Bangkok. He has also been trained as the
          Overseas Buddhist Missionary of Mahachulalongkorn Buddhist University, Bangkok.
        </p>
      </div>
      <hr />
      <div class="card p-4 shadow-sm" data-aos="fade-up">
        <p class="content-p" data-aos="fade-right">
          Venerable Samak came to the United States in 1998 at the invitation of Venerable Dr. Chuen
          Phengcham of the Midwest Buddhist Meditation Center in Warren, Michigan. He served as the
          assistant abbot of the Midwest Buddhist Meditation Center from 1998 through 2004. In May
          2004, upon the invitation of the Buddhist community in Dayton, Ohio, Venerable Samak left
          the meditation center in Michigan to establish the Buddhist Meditation Temple in Huber
          Heights, Ohio. He currently serves as president and Chief Abbot of the Buddhist meditation
          Temple, where he teaches meditation, conducts religious retreats, and oversees other
          Buddhist ceremonies at the temple.
        </p>
      </div>

      <div class="content-p shadow-sm" data-aos="fade-up">
        <hr />
      </div>

      <div class="card p-4 text-center shadow-sm" data-aos="fade-up">
        <p>(Wat Paknam America)</p>
        <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i> | Buddhist Meditation Temple, Ohio
        </p>
        <p>4545 Fishburg Rd., Huber Heights, OH 45424</p>
        <p>
          <i class="fa fa-phone" aria-hidden="true"></i> | Phone : (937) 237-0378, Fax :
          (937)235-0469
        </p>
        <p><i class="fa fa-globe" aria-hidden="true"></i> | http://www.ohiobuddhist.org</p>
        <p><i class="fa fa-envelope" aria-hidden="true"></i> | E-mail: watohio@gmail.com</p>
      </div>

      <div class="content-p mb-5" data-aos="fade-up">
        <hr />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo() {
    return { title: this.$t('monks') }
  },
}
</script>

<style scoped>
.bg-wat-right2 {
  background-image: url('/img/banner_1.jpg');
  background-repeat: no-repeat;
  opacity: 0.8;
  background-color: black;
  background-size: 100%;
}
.bg-wat-right2 h1 {
  color: #fff;
  padding: 45px;
}
</style>