<template>
  <div class="card h-100 shadow-sm" data-aos="fade-up">
    <img class="card-img-top" :src="item.img_url" />
    <div class="card-body">
      <h5 class="card-title">{{ item.title }}</h5>
      <p class="card-text">{{ item.description }}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>

      <router-link :to="{ name: 'articles_detail' }">
        <button v-if="btn.text" :class="`btn btn-${btn.type}`">{{ btn.text }}</button>
      </router-link>
      <div v-if="btn"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: { type: Array },
    btn: { type: Object },
    index: { type: Number },
  },
}
</script>

<style>
.card-img-top {
  height: 150px;
  object-fit: cover;
}
</style>
