<template>
  <div>
    <!--- FOOTER START --->
    <div class="footer bg-footer" data-aos="fade-up">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-links" id="footer">
              <li>
                <router-link :to="{ name: 'home' }" class="nav-link"
                  ><h6>
                    <i class="fa fa-home" aria-hidden="true"></i> | {{ $t('home') }}
                  </h6></router-link
                >
                <hr class="hr-footer" />
              </li>
              <li>
                <router-link :to="{ name: 'articles' }" class="nav-link"
                  ><h6>
                    <i class="fa fa-bookmark" aria-hidden="true"></i> | {{ $t('articles') }}
                  </h6></router-link
                >
                <hr class="hr-footer" />
              </li>
              <li>
                <router-link :to="{ name: 'articles' }" class="nav-link"
                  ><h6>
                    <i class="fa fa-clone" aria-hidden="true"></i> | {{ $t('articles') }}
                  </h6></router-link
                >
                <hr class="hr-footer" />
              </li>
              <li>
                <router-link :to="{ name: 'events' }" class="nav-link"
                  ><h6>
                    <i class="fa fa-list-alt" aria-hidden="true"></i> | {{ $t('events') }}
                  </h6></router-link
                >
                <hr class="hr-footer" />
              </li>
              <li>
                <router-link :to="{ name: 'monks' }" class="nav-link"
                  ><h6>
                    <i class="fa fa-user" aria-hidden="true"></i> | {{ $t('monks') }}
                  </h6></router-link
                >
                <hr class="hr-footer" />
              </li>
              <li>
                <router-link :to="{ name: 'building_projects' }" class="nav-link"
                  ><h6>
                    <i class="fa fa-archive" aria-hidden="true"></i> | {{ $t('building_projects') }}
                  </h6></router-link
                >
                <hr class="hr-footer" />
              </li>
              <li>
                <router-link :to="{ name: 'about_us' }" class="nav-link"
                  ><h6>
                    <i class="fa fa-info-circle" aria-hidden="true"></i> | {{ $t('about_us') }}
                  </h6></router-link
                >
                <hr class="hr-footer" />
              </li>
            </div>
          </div>
          <div class="col-md-4">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1315847.230440476!2d-82.72557650517821!3d40.002213355312236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8836e97ab54d8ec1%3A0xe5cd64399c9fd916!2sOhio%2C%20USA!5e0!3m2!1sen!2sth!4v1599584604276!5m2!1sen!2sth"
              width="100%"
              height="400"
              frameborder="0"
              style="border: 0"
              allowfullscreen
              aria-hidden="false"
              tabindex="0"
            ></iframe>
          </div>
          <div class="col-md-4">
            <iframe
              src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fohiobuddhist%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=446665309136965"
              width="100%"
              height="400"
              style="border: none; overflow: hidden"
              scrolling="no"
              frameborder="0"
              allowtransparency="true"
              allow="encrypted-media"
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <img class="img-footer" src="img/footer2.png" width="100%" />
  </div>
</template>

<script>
export default {}
window.fbAsyncInit = function () {
  FB.init({
    appId: 'your-app-id',
    autoLogAppEvents: true,
    xfbml: true,
    version: 'v8.0',
  })
}
</script>

<style>
.footer {
  z-index: 99;
}
.footer-links {
  padding: 24px;
  background-color: #fff;
}
.ul,
li {
  list-style: none;
}
li h3 {
  color: #312500;
  margin-bottom: 15px;
  text-decoration: none !important;
}
li h2 {
  color: #221900;
  margin-bottom: 20px;
}
li h6 {
  color: #312500;
}
li h6:hover {
  color: #a07800;
}
.footer-links {
  list-style-type: none;
  font-weight: 500;
  cursor: pointer;
}
.hr-footer {
  margin-top: -9.5px;
}
</style>
