<template>
  <div>
    <nav
      class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-transparent bg-navbar mb-5"
      v-if="!user"
    >
      <div class="container">
        <router-link :to="{ name: 'home' }" class="navbar-brand">
          {{ $t('project_name') }}
        </router-link>

        <button
          class="navbar-toggler text-white bg-light"
          type="button"
          data-toggle="collapse"
          data-target="#navbarToggler"
          aria-controls="navbarToggler"
          aria-expanded="false"
        >
          <span class="navbar-toggler-icon text-white" />
        </button>

        <div id="navbarToggler" class="collapse navbar-collapse">
          <ul class="navbar-nav text-white">
            <locale-dropdown />
            <li class="nav-item">
              <router-link :to="{ name: 'articles' }" class="nav-link">
                <i class="fa fa-bookmark" aria-hidden="true"></i> {{ $t('articles') }}
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'gallery' }" class="nav-link">
                <i class="fa fa-picture-o" aria-hidden="true"></i> {{ $t('gallery') }}
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'events' }" class="nav-link">
                <i class="fa fa-list-alt" aria-hidden="true"></i> {{ $t('events') }}
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'monks' }" class="nav-link"
                ><i class="fa fa-user" aria-hidden="true"></i> {{ $t('monks') }}</router-link
              >
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'building_projects' }" class="nav-link">
                <i class="fa fa-archive" aria-hidden="true"></i> {{ $t('building_projects') }}
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'about_us' }" class="nav-link">
                <i class="fa fa-info-circle" aria-hidden="true"></i> {{ $t('about_us') }}
              </router-link>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto">
            <!-- Authenticated -->
          </ul>
        </div>
      </div>
    </nav>

    <!-- #######admin#######-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-light" v-if="user">
      <div class="container">
        <router-link :to="{ name: user ? 'home' : 'welcome' }" class="navbar-brand">
          {{ appName }}
        </router-link>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarToggler"
          aria-controls="navbarToggler"
          aria-expanded="false"
        >
          <span class="navbar-toggler-icon" />
        </button>

        <div id="navbarToggler" class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <locale-dropdown />
            <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
            </li>-->
          </ul>

          <ul class="navbar-nav ml-auto">
            <!-- Authenticated -->
            <li v-if="user" class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-dark"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img :src="user.photo_url" class="rounded-circle profile-photo mr-1" />
                {{ user.name }}
              </a>
              <div class="dropdown-menu bg-dark">
                <router-link :to="{ name: 'settings.profile' }" class="dropdown-item pl-3 bg-dark">
                  <fa icon="cog" fixed-width />
                  {{ $t('settings') }}
                </router-link>

                <div class="dropdown-divider" />
                <a href="#" class="dropdown-item pl-3" @click.prevent="logout">
                  <fa icon="sign-out-alt" fixed-width />
                  {{ $t('logout') }}
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- <div class="img-banner center">
      <img src="img/navbar_img.jpg" width="100%" />
    </div> -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import LocaleDropdown from './LocaleDropdown'

export default {
  components: {
    LocaleDropdown,
  },

  data: () => ({
    appName: window.config.appName,
  }),

  computed: mapGetters({
    user: 'auth/user',
  }),

  methods: {
    async logout() {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: 'login' })
    },
  },
}
</script>

<style scoped>
.profile-photo {
  width: 2rem;
  height: 2rem;
  margin: -0.375rem 0;
}
.img-banner {
  height: 400px;
  margin-bottom: 90px;
}
.img-banner img {
  height: 500px;
  object-fit: cover;
}

.navbar {
  font-weight: 900;
  box-shadow: none;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.8);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.8);
}
.bg-navbar {
  background: rgba(254, 182, 69, 1);
  background: -moz-linear-gradient(top, rgba(254, 182, 69, 1) 0%, rgba(199, 136, 10, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(254, 182, 69, 1) 0%, rgba(199, 136, 10, 1) 100%);
  background: -o-linear-gradient(top, rgba(254, 182, 69, 1) 0%, rgba(199, 136, 10, 1) 100%);
  background: -ms-linear-gradient(top, rgba(254, 182, 69, 1) 0%, rgba(199, 136, 10, 1) 100%);
  background: linear-gradient(to bottom, rgba(254, 182, 69, 1) 0%, rgba(199, 136, 10, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb645', endColorstr='#c7880a', GradientType=0 );
}
</style>
