<template>
  <div class="main-layout">
    <navbar />

    <div>
      <child />
    </div>

    <FooterApp />
  </div>
</template>

<script>
import Navbar from '~/components/Navbar'
import FooterApp from '~/components/Footer'

export default {
  name: 'MainLayout',

  components: {
    Navbar,
    FooterApp,
  },
}
</script>

<style>
html,
body {
  background-color: #ffffff;
}
p {
  font-weight: 500 !important;
  color: rgb(90, 90, 90);
}

hr {
  background: rgba(254, 182, 69, 1);
}
.page--header {
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 4px solid#daa520 !important;
  padding-bottom: 5px;
}
.card {
  border: 1px solid #ccc !important;
  border-radius: 5px;
}
.card p {
  line-height: 30px;
}
.btn-outline-primary {
  border: 1px solid#daa520 !important;
  color: #daa520 !important;
}
.btn-outline-primary:hover {
  background-color: #daa520 !important;
  color: #ffffff !important;
}
.content-card {
  background-color: #fff;
  border: 0px 0px 10px 10px;
  padding: 25px;
  margin-bottom: 55px;
}
.content-p {
  margin-top: 15px;
  margin-bottom: 15px;
  text-indent: 2em;
}
.content-p p {
  line-height: 35px;
  text-indent: 1.5em;
}
.contact-p {
  margin-top: 55px;
  margin-bottom: 55px;
}
.contact-p p {
  line-height: 35px;
  text-align: center;
}
.nav-link {
  text-transform: uppercase;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nav-link i {
  width: 20px;
  text-align: center;
}
</style>